@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400&display=swap");
:root {
  /* Fonts */
  --JetBrains: "JetBrains Mono", monospace;
  --Jetbrains-200: 200;
  --Jetbrains-400: 400;
}

.button:active.button:focus {
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--JetBrains);
}

html {
  scroll-behavior: smooth;
}

li {
  margin-left: 30px;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 200;
  font-size: 1.2em;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}
/* ==== Layout ==== */
.bd-container {
  max-width: 1204px;
  margin-right: 1rem;
  margin-left: 1rem;
}
/* ==== Header Navigation ==== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo img {
  margin-top: 10px;
  width: 100%;
  max-width: 55px;
  height: auto;
}
header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 10px 50px;
  z-index: 1000;
  transition: 0.5s;
}

header.sticky {
  background-color: #fff;
  padding: 10px 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}

header.sticky .nav-menu li a {
  color: #111;
}

header.sticky .nav-menu li .active-nav {
  /* Change color when .active-nav addeed to li a */
  color: #28abb9;
}

.nav-menu li .active-nav {
  color: #28abb9;
}

.nav-menu {
  position: relative;
  display: flex;
}
header li a:hover {
  color: #28abb9;
}
header.sticky li a:hover {
  color: #28abb9;
}

/* ==== Header Navigation END ==== */

/* ==== Banner ==== */
#toTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 10px;
  border: none;
  outline: none;
  background-color: #ff6363;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}

.toTop i {
  font-size: 2rem;
}

.banner-content {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-text h3 {
  font-size: 1rem;
  margin-left: 5px;
  font-weight: normal;
}

.intro-text h1 {
  font-size: 4rem;
}

.intro-text span {
  font-size: 1.8rem;
  margin-left: 5px;
  margin-bottom: 40px;
}

.intro-img img {
  width: 500px;
  max-width: 100%;
  height: auto;
}

.banner-connect {
  font-size: 2rem;
  margin-top: 20px;
}

.github-profile {
  position: absolute;
  transition: all ease-in-out 150ms;
}

.linked-profile {
  position: absolute;
  transition: all ease-in-out 150ms;
  left: 50px;
}

.banner-connect .github-profile:hover,
.linked-profile:hover {
  font-size: 3rem;
  margin-top: -10px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -8);
}

/* ==== Banner END ==== */

/* ==== Portfolio ==== */
.project-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  place-self: center;
  grid-gap: 20px;
  margin: 16px 0;
}

.project-card .project-thumbnail {
  position: relative;
  border: 1px solid #ccc;
}

.project-card img {
  margin: auto;
  display: block;
  width: 100%;
}

.project-thumbnail:hover .project-info-wrapper {
  opacity: 1;
}

.project-info-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;

}

.project-title {
  text-align: left;
  padding-top: 10px;
  font-size: 1.2rem;
}

.project-info {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.project-info p {
  margin-bottom: 15px;
}

.project-info .project-links {
  display: flex;
  padding: 10px 0;
  gap: 10px;
  left: 0;
  right: 0;
  width: 100%;
}

.project-info .project-links a {
  padding: 5px;
  font-size: 0.8rem;
  color: #fff;
  background-color: #28abb9;
  text-align: center;
  width: 140px;
  font-weight: 400;
}

.project-info .project-links a:hover {
  opacity: 0.9;
}

.language {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
}

.language .swiper .swiper-icon {
  width: 15px;
  height: 18px;
  box-shadow: none;
}

.language div .icon {
  width: 25px;
  height: 18px;
  box-shadow: none;
}

.view-more {
  margin: 15px auto;
  display: block;
  text-align: center;
  background-color: #ff6363;
  padding: 8px;
  max-width: 150px;
  border-radius: 2px;
}

.view-more a {
  color: #fff;
  margin: 0 auto;
  font-size: 0.9rem;
}

.view-more:hover {
  opacity: 0.7;
}

.back-to-home {
  margin-top: 120px;
  margin-bottom: 30px;
}
/* ==== Portfolio END ==== */

/* ==== About Me ==== */
.about-container {
  margin-top: 50px;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-self: center;
}

.about-content .about-text {
  align-self: center;
}

.about-text h3 {
  margin-top: 2rem;
}

.social-media {
  font-size: 2rem;
}

.social-media a:hover {
  color: #28abb9;
}

.skills-list {
  margin: 20px 0 20px 0;
}

.skills-list img {
  margin-right: 5px;
}

.skill-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.icon {
  width: 25px;
}

.about-work {
  margin-top: 40px;
}


.resume {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  margin-top: 20px;
  padding: 5px 10px;
  text-align: center;
  background-color: #ff6363;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 5px #ff6363;
  color: #fff;
  font-size: 1rem;
}

.resume i {
  opacity: 0;
  color: #ffff;
  font-size: 1.2rem;
  margin-top: 5px;
}

.resume:hover {
  opacity: 0.8;
}

.resume:hover i {
  opacity: 1;
}

.about-img {
  justify-self: center;
}
.about-img img,
.work-img img {
  width: 500px;
  max-width: 100%;
  height: auto;
}

.work-img {
  margin-bottom: 20px;
}

/* ==== About Me END ==== */

/* ==== Contact Me ==== */
.facebook {
  font-size: 4rem;
  position: absolute;
  left: 200px;
  color: #ff6363;
  transition: all ease-in-out 150ms;
}

.email {
  font-size: 3.5rem;
  position: absolute;
  left: 360px;
  top: 28px;
  color: #ff6363;
  transition: all ease-in-out 150ms;
}

.instagram {
  font-size: 4rem;
  position: absolute;
  right: 80px;
  top: 162px;
  color: #ff6363;
  transition: all ease-in-out 150ms;
}

.facebook:hover,
.email:hover,
.instagram:hover {
  font-size: 5rem;
  margin-top: -15px;
  text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
  transform: translate(0, -15);
}

.contact-container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.contact-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  margin: 16px 0;
}

.contact-form {
  margin-right: 1rem;
}

.contact-img {
  justify-self: center;
  position: relative;
}

.contact-img img {
  width: 440px;
  max-width: 100%;
  height: auto;
}
.contact-input {
  width: 100%;
  padding: 1rem;
  outline: none;
  font-size: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  resize: none;
}

.send-message {
  background-color: #ff6363;
  border: none;
  outline: none;
  padding: 10px 10px;
  width: 100%;
  border-radius: 2px;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  -webkit-appearance: none;
  color: #fff;
}

.send-message:hover {
  opacity: 0.8;
}

/* ==== Contact Me END ==== */

.footer-container {
  margin-top: 80px;
  background-color: #28abb9;
  padding: 30px 40px;
}
.footer-content {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  align-items: center;
}

.footer-content .logo img {
  width: 100px;
}

.footer-content .footer-menu .nav-menu a {
  color: #fff;
}

.footer-content .footer-menu .nav-menu a:hover {
  color: #4e8d7c;
}

.footer-content .footer-connect i {
  font-size: 2rem;
  color: #fff;
}

.footer-content .footer-connect i:hover {
  color: #4e8d7c;
}

/* ==== Error - 404 ==== */
.error-content {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
}

.error-content img {
  width: 550px;
  max-width: 100%;
  height: auto;
}
.error-content h1 {
  margin-bottom: 20px;
}

/* ==== Error - 404 END ==== */

/* ==== Media Query ==== */
@media screen and (max-width: 960px) {
  /* ==== Header Navigation ==== */
  header {
    padding: 10px 30px;
  }

  header .nav-menu {
    display: none;
  }

  header .nav-menu.active {
    width: 100%;
    height: 400px;
    position: fixed;
    top: 80px;
    left: 0%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 0 0 #cccc;
    z-index: -100;
  }

  header .nav-menu li {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .nav-menu li a {
    font-size: 1.6rem;
  }

  .menu-toggle .bar1,
  .menu-toggle .bar2,
  .menu-toggle .bar3 {
    width: 35px;
    height: 3px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
    cursor: pointer;
  }

  .menu-toggle.active .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .menu-toggle.active .bar2 {
    opacity: 0;
  }

  .menu-toggle.active .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  /* ==== Header Navigation END ==== */

  /* ==== Banner ====== */
  .banner-content {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .intro-text {
    text-align: center;
    margin-top: 40px;
  }

  .intro-text h1 {
    font-size: 3rem;
  }

  .intro-img img {
    width: 340px;
  }

  .banner-connect .linked-profile {
    left: 55%;
  }

  .banner-connect .github-profile {
    left: 35%;
  }

  .banner-connect .github-profile:hover,
  .linked-profile:hover {
    font-size: 3rem;
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
  }

  /* ==== About ==== */
  .about-content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .about-text p,
  .about-work p {
    font-size: 0.9rem;
  }

  .skills-list {
    display: block;
    font-size: 1rem;
  }

  .work-img {
    margin: 0 auto 10px auto;
  }

  .about-img {
    justify-self: center;
    grid-row-start: 1;
  }

  .connect-with-me .resume {
    width: 50%;
  }

  .connect-with-me {
    display: flex;
    flex-direction: row;
  }
  /* ==== About END ==== */

  /* ==== Porfolio ==== */
  .project-card {
    grid-template-columns: 1fr;
  }

  .project-info-wrapper {
    padding-top: 25px;
  }

  /* ==== Porfolio END ==== */

  /* ==== Contact Me ==== */
  .contact-content {
    grid-template-columns: 1fr;
  }

  .contact-img {
    grid-row-start: 1;
  }
  /* ==== Contact Me END ==== */

  /* ==== Footer ==== */
  .footer-content {
    grid-template-columns: 1fr;
  }

  .footer-content .logo {
    justify-self: center;
  }
  .footer-content .footer-menu .nav-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .footer-content .footer-menu .nav-menu li {
    margin-bottom: 30px;
    margin-left: 0;
    font-size: 1rem;
  }

  .footer-content .footer-connect {
    margin-right: auto;
    margin-left: auto;
  }

  .footer-content .footer-connect i {
    font-size: 2.5rem;
  }
  /* ==== Footer END ==== */
}

@media screen and (max-width: 600px) {
  header {
    padding: 0;
  }
  header.sticky {
    padding: 0 5px;
  }

  header .nav-menu.active {
    top: 25px;
  }
  /* ==== Banner ==== */
  .banner-content {
    padding: 0 10px;
  }
  .intro-text h1 {
    font-size: 2rem;
  }

  .intro-text span {
    font-size: 1rem;
  }

  .banner-connect .linked-profile {
    left: 55%;
  }

  .banner-connect .github-profile {
    left: 30%;
  }
  /* ==== Banner END ==== */

  .skills-list {
    font-size: 0.9rem;
  }

  .skills-list i {
    font-size: 1rem;
  }

  .mongo,
  .api-icon {
    width: 15px;
  }

  /* ==== Project ==== */

  .project-info {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    transform: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* ==== Project END ==== */

  /* ==== Footer ==== */

  .footer-content .footer-menu .nav-menu a {
    font-size: 1rem;
  }

  .footer-content .footer-connect {
    margin-right: auto;
    margin-left: auto;
  }

  .footer-content .footer-connect i {
    font-size: 1.5rem;
  }
  /* ==== Footer END ==== */
}

@media screen and (max-width: 476px) {
  /* ==== Contact Me ==== */
  .facebook {
    font-size: 3.5rem;
    left: 80px;
  }

  .email {
    font-size: 3.5rem;
    left: 180px;
    top: 50px;
  }

  .instagram {
    font-size: 3.5rem;
  }
  /* ==== Contact Me END ==== */
  .project-info p {
    font-size: 2.5vw;
  }

  .language div {
    font-size: 2.2vw;
  }

  .project-info .project-links {
    width: 220px;
    padding: 0;
    width: 100%;
  }

  .project-info .project-links a {
    padding: 5px 2px;
    font-size: 3vw;
  }

  .language {
    gap: 5px;
    margin-bottom: 10px;
  }

  .language div .icon {
    height: 15px;
  }
}

@media screen and (min-width: 1204px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  /* .project-card {
    margin: auto;
  } */
}
